#about {
    background: #7510f7;
}

.about {
  width: 100vw;
  height: fit-content;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.mission,
.why-me {
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 50%), 0 0 0 1px #e6ecf8;
}

.about-title {
  color: white;
  font-weight: 600;
  margin: 1.86rem 0;
}

.about-sub-heading {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.download {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

p.resume {
  color: white;
  font-weight: 600;
}

a.resume {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  color: white;
}
